@model ResponsivePortal.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/shared/_AdminLayout.cshtml";
}
<style>
    .editerror {
        color: red;
        font-size:medium;
        text-align:match-parent;
        margin-left:30px;
    }
    button, .button {
        border-style: solid;
        border-width: 0px;
        cursor: pointer;
        font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
        font-weight: normal;
        line-height: normal;
        margin: 0 0 1.25rem;
        position: relative;
        text-decoration: none;
        text-align: center;
        display: inline;
        padding-top: 1rem;
        padding-right: 2rem;
        padding-bottom: 1.0625rem;
        padding-left: 2rem;
        font-size: 1rem;
        background-color: #9ACD32;
        border-color: #007095;
        color: white;
        -webkit-transition: background-color 300ms ease-out;
        -moz-transition: background-color 300ms ease-out;
        transition: background-color 300ms ease-out;
        padding-top: 1.0625rem;
        padding-bottom: 1rem;
        -webkit-appearance: none;
        border: none;
        font-weight: bold !important;
    }
</style>
    <div class="row">
        <div class="large-12 columns push-1">
            <h3>@Model.Resources["TITLE"]</h3>
            <h6>@Model.Resources["INSTRUCTIONS"]</h6>
        </div>
    </div>


    <div class="row">
        <div class="large-4 small-12 columns push-1">
            <section id="ResetPasswordForm">
                @using (Html.BeginForm("ResetPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                     <div class="row">
                        @if (ViewBag.Message == "1")
                        {
                            <div class="column editerror">
                                @Model.Resources["INVALIDDETAILS"]                                
                            </div>
                            <div class="large-2">&nbsp;</div>
                        }
                     </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="large-4 small-12 columns">
                                    <label class="col-md-2 control-label" for="UserName">@Model.Resources["USERNAMELABEL"]</label>
                                </div>
                                <div class="large-8 small-12 columns" title="Enter user name">
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.UserName)
                                </div>
                            </div>
                        </div>
                    <div class="row push-2">
                        <div class="columns">
                            <div class="large-4 small-12 columns">
                                <input class="button" type="submit" id="Save" name="Submit" value="@Model.Resources["SUBMITLABEL"]" title="Submit" />
                            </div>
                            <div class="large-1 small-12 columns">

                            </div>
                            <div class="large-7 small-12 columns ">
                                <input class="button" type="button" id="cancel" name="Cancel" value="@Model.Resources["CANCELLABEL"]" onclick="location.href='@Url.Action("Login/" + ViewBag.clientId + "/" + ViewBag.portalId, "Account")'" title="Cancel" />
                            </div>
                        </div>
                    </div>

                }
                </section>
   </div>
 </div>



